* {
    box-sizing: border-box;
}

body {
    background-image: url(../../img/background-texture.png), url(../../img/lines.png);
    background-position: center;

    color: var(--grey);
    font-family: var(--fontFamily-default);
    font-size: var(--fontSize-default);

    max-width: 460px;
    margin: 0 auto;
}

.container {
    padding: 0 1rem;
}

.title {
    font-size: var(--fontSize-title);
}

.title--featured {
    color: var(--black);
    font-family: var(--fontFamily-title-featured);
    font-size: var(--fontSize-title-featured);
    font-weight: var(--fontWeight-title-featured);

    display: block;
    margin: .75rem 0;
}

.align--center {
    text-align: center;
}

.align--left {
    text-align: left;
}

.text {
    line-height: 26px;
}