:root {
    /* *** COLORS *** */
    --black: #202020;
    --black-transparent: #0000000F;
    --grey: #909090;
    --white: #FFFFFF;
    --yellow: #FFCB47;
    --yellow-transparent: #FFCB473D;
    
    /* *** BUTTON *** */
    --fontWeight-button: 700;

    /* *** DEFAULT *** */
    --fontFamily-default: 'Montserrat', sans-serif;
    --fontSize-default: 1rem;

    /* *** TITLE *** */
    --fontFamily-title-featured: 'Elsie Swash Caps', serif;
    --fontSize-title: 1.375rem;
    --fontSize-title-featured: 2rem;
    --fontWeight-title-featured: 900;
}