.button {
    background-color: #FFCB47;

    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;

    width: 100%;
    padding: 1rem 0;

    box-shadow: 10px 10px 30px #FFCB473D;

    border: none;
}