.button {
    background-color: var(--yellow);
    border: none;
    box-shadow: 10px 10px 30px var(--yellow-transparent);
    
    color: var(--white);
    font-family: inherit;
    font-weight: var(--fontWeight-button);
    text-align: center;

    padding: 1rem 0;
    width: 100%;
}

.button--secondary {
    background: transparent;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    box-shadow: none;
}