.input {
    background: var(--white);
    border: none;
    box-shadow: 10px 10px 30px var(--black-transparent);
    
    color: var(--grey);
    font-family: inherit;
    font-size: inherit;

    margin-bottom: 1rem;
    padding: 2rem 1.75rem 1.75rem;
    width: 100%;
}

.input:focus {
    border: 1px solid var(--yellow);
    outline: none;
}
.input--icon {

    background-repeat: no-repeat;
    background-position: left 1.75rem center;

    padding-left: 4.25rem;
}

.input--email {
    background-image: url(../../img/icons/mail.svg);
}