.product {
    background-color: var(--white);
    box-shadow: 10px 10px 30px var(--black-transparent);
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 2rem 0 2rem 50%;
    position: relative;
    min-height: 12.5rem;
}

.product__image {
    left: -8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18.75rem;
    z-index: 1;
}

.product__content {
    position: relative;
    z-index: 2;
}

.product__title {
    margin-top: 0;
    margin-bottom: .75rem;
}

.product__price {
    margin-bottom: 1.5rem;
}

.product__buy {
    color: var(--yellow);
    display: flex;
    align-items: center;
}

.product__icon {
    display: inline-block;
    width: .875rem;
    height: .875rem;
    margin-left: 1.75rem;

    background-image: url(../../img/icons/arrow.svg);
    background-size: contain;
}

